<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <app-alert></app-alert>
      <div class=" card card-chart">
        <table class="table">
          <button
            class=" btn btn-fill btn-info"
            type="button" (click)="downloadJSON()">Download data as JSON file</button>
          <button
            class=" btn btn-fill btn-info"
            type="button" (click)="downloadXML()">Download data as XML file</button>
          <thead>
          <tr>
            <th class="text-center">#</th>
            <th>Name</th>
            <th>Description</th>
            <th class="text-center">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let entry of [10]; let i=index">
            <td class="text-center">{{i+1}}</td>
<!--            <td>{{entry.name}}</td>-->
<!--            <td>{{entry.description}}</td>-->
            <td class="td-actions text-center">

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
